@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: var(--font-poppins);
  background: #0d0d0d;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-primary {
  color: #5541d9 !important;
}

.text-secondary {
  color: #bc85f2 !important;
}

.text-gray {
  color: #9ca3af !important;
}

.text-error {
  color: #ff3333 !important;
}

.bg-primary {
  background-color: #5541d9 !important;
}

.bg-primary-faded {
  background-color: #5541d932 !important;
}

.bg-secondary {
  background-color: #bc85f2 !important;
}

.border-primary {
  border-color: #5541d9 !important;
}

.border-transparent {
  border-color: transparent;
}

.surface-200 {
  background-color: #f3f4f6 !important;
}

.text-dark-gray {
  color: rgb(89, 89, 89) !important;
}

.border-dark-gray {
  border-color: rgba(89, 89, 89, 0.134) !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.p-component,
.p-inputtext {
  font-family: var(--font-poppins);
}

.p-datatable .p-datatable-tbody > tr > td {
  background: #0d0d0d !important;
}

.p-datatable .p-datatable-thead > tr > th {
  background: #0d0d0d !important;
}

.p-paginator,
.p-inputwrapper-filled,
.p-card-content {
  background: #0d0d0d !important;
}

.p-column-title {
  color: #5541d9;
}

.p-inputwrapper-filled .p-dropdown-label,
.p-inputwrapper-filled .p-dropdown-trigger,
.p-paginator-element {
  color: white;
  text-align: center;
}

.p-inputswitch-slider:before {
  top: 15%;
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
  background-color: #5541d9 !important;
}

.p-inputtext:enabled:focus {
  box-shadow: none !important;
}

.p-toast .p-toast-message.p-toast-message-success {
  background: white;
  padding: 10px;
}
